.card{
    width: 100%;
    margin: 10px;
    max-width: 98rem;
    padding: 5rem;
    background-color: rgba(244, 244, 244, 0.81);
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.jumbotron{
    position: relative;
    background-image: url('https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?cs=srgb&dl=pexels-matt-hardy-1533720.jpg&fm=jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}



